* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* codigo opciol */
body {
    width: 100%;
    height: 100vh;
    display: 100 vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/*----*/
.container{    
    width: 100%;
    display: flex;
    max-width: 1100px;
    background: #ffb347;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    /*height: 70vh; */
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2) ;
    cursor: default;
    transition: all 40ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 40ms ease;
}

section {
    background-image: linear-gradient(to left,rgb(168, 200, 230),rgb(116, 214, 231));
    height: 92vh;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: green;   */
}