<app-menu-inicio></app-menu-inicio>
<section>
<div class="container">
    <div class="card">
        <figure>
            <img class="img-thumbnail" src="../../../assets/registrar/pacienteRegistro1.jpg" alt="Avatar">
        </figure>
        <div class="contenido">
            <p class="title"><strong> PACIENTE</strong></p>
            <div class="card-body">
                Para poder ingresar a la Clínica Online y solicitar turno debe registrarse. Complete todos los datos.
            </div>
            <br>
            <p> <button class="btn btn-secondary btn-lg mt-3" (click)="paciente()">Registrar</button></p>
        </div>
    </div>

    <div class="card">
        <figure>
            <img class="img-thumbnail" src="../../../assets/registrar/especialista1.jpg" width="50" alt="Avatar">
        </figure>
        <div class="contenido">
            <p class="title"><strong>ESPECIALISTA</strong></p>
            <div class="card-body">
            Para poder ingresar a la Clínica Online y ser parte del personal debe registrarse, luego un Administrador validará su usuario.
            </div>
            <p> <button class="btn btn-secondary btn-lg mt-3" (click)="especialista()">Registrar</button></p>        
        </div>
    </div>

       
    <!--<div class="card">
        <figure>
            <img class="img-thumbnail" src="../../../assets/registrar/admin2.jpg" alt="Avatar">
        </figure>
        <div class="contenido">
            <p class="title"><strong>ADMINISTRADOR</strong></p>
        <div class="card-body">
            Para poder ingresar a la Clínica OnLine debe registrarse. Complete todos los datos que se solicitan.
        </div>
        <br>
        <p> <button class="btn btn-primary btn-lg mt-3" (click)="admin()">Registrar</button></p>
      </div>
    </div>-->
</div>
</section>