<app-menu-gral></app-menu-gral>
<div class="conteiner mt-3">
    <div *ngIf='loading' class="d-flex justify-content-center mt-5">
      <app-spinner></app-spinner>
    </div>
    <br>    
    <h3 class="text-center p-3">Listado de Turnos</h3>  

      <!-- Filtros 
  <div class="mb-3">
    <input type="text" placeholder="Buscar por nombre" [(ngModel)]="filtroNombre" class="form-control mb-2"/>
    <input type="text" placeholder="Buscar por especialidad" [(ngModel)]="filtroEspecialidad" class="form-control mb-2"/>
  </div>-->

   <!-- Filtro-->
   <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" name="filterPos" class="form-control" placeholder="Buscador ... [ Especialidad/Nombre/Apellido/Email/Estado/Dia/Turno]"  [(ngModel)]="filterPost">
      </div>
    </div>
  </div>

  <!-- Tabla -->
    <div *ngIf='!loading' class="container-table table-responsive">
      <table class="table table-striped">
        <thead class="thead-Active">
          <tr class="table-dark">
            <th scope="col">Email</th>  
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>  
            <th scope="col">Especialidad</th> 
            <th scope="col">Otra Especialidad</th>      
            <th scope="col">Estado</th>
            <th scope="col">Dia</th>
            <th scope="col">Turno</th>              
          </tr>
        </thead>        

        <tbody>          
          <tr class="table-light" *ngFor="let turno of turnos | filterTurnoclinica:filterPost">
            <td class="separador">{{ turno.email }}</td>
            <td class="separador">{{ turno.nombre }}</td>
            <td class="separador">{{ turno.apellido }}</td> 
            <td class="separador">{{ turno.especialidad }}</td>
            <td class="separador">{{ turno.otraespecialidad }}</td>
            <td class="separador">{{ turno.estado }}</td> 
            <td class="separador">{{ turno.dia }}</td>
            <td class="separador">{{ turno.turno }}</td>                  
          </tr>
         
        </tbody>
      </table>
    </div>
    
    <div class="box text-center">
      <button routerLink="/bienvenido" (click)="volver()" class="btn btn-primary btn-lg">Volver</button>      
    </div>
</div>