.container-table{
    border: 5 solid black;
}
  
img {
    width: 120px;
    height: 120px;
    display:block;
    /*border-radius:50%; la imagen la hace redonda*/
    border-collapse: 50%;  /* La imagen la hace cuadrada */
    box-shadow: 2px 2px 5px #999;
}
  
.scrollbar-especialidades {
    position: relative;
    height:9em;
    overflow: auto;
}
  
@media (max-width: 520) {
    td{
        font-size: 10px!important;
    }
}
  
.btn-success, .btn-danger {
    border-radius: 5px;
    height: 40px;
    font-size: 17px;
    box-shadow: 2px 2px 5px #999;
}
  
.box {
    border: 0px solid darkblue;
    width: 100%;
}
  
.separador {
    border-bottom: 1px solid #b4b4b4;
    margin: 10px 0;
}

.separador1 {
    border-bottom: 1px solid #474747;
    margin: 10px 0;
}