<br><br>
<div class="text-center">
  <button class="btn btn-secondary btn-lg"(click)="downloadPDF()" appBotondescargarhc>Descargar Historia Clínica en PDF</button>
</div>

<div *ngIf='!loading' class="container-table table-responsive" id="htmlData">
    <!-- <table class="table table-bordered table-striped mx-auto"> -->
    <img [src]="'../../../assets/paciente/icono.ico'" alt="Logo" />
    <div class="centrar">
        <h3>HISTORIA CLINICA</h3>
    </div>
    
    <h4>{{apellidoPaciente}} {{nombrePaciente}} DNI {{dniPaciente}}</h4>
    <h4>Fecha de emisión  {{ChangedFormat}}</h4>
    <table class="table table-striped">
        <thead class="thead-Active">
            <tr class="table-dark">
            <th scope="col" class="separador1">Especialidad</th>
            <th scope="col" class="separador1">Especialista</th>
            <th scope="col" class="separador1">Altura</th>
            <th scope="col" class="separador1">Peso</th>
            <th scope="col" class="separador1">Presión</th>
            <th scope="col" class="separador1">Temperatura</th>
            <!-- <th scope="col">Fecha</th> -->
            <th scope="col" class="separador1">Datos Adicioneales</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-light" *ngFor="let item of listaTurnoPaciente" >
            <!-- <td>
            <img [src]="'../../../'+item.fotoPerfilUnoPaciente" alt="Especialista {{ item.nombreEspecialista
            +' ' + item.apellidoEspecialista }}" />
            {{ item.nombrePaciente +' ' + item.apellidoPaciente }}
            </td> -->
            <!--  <td>{{ item.nombre }}</td>
             <td>{{ item.apellido }}</td> -->
            <td *ngIf="item.estado=='FINALIZADO' " class="separador">{{ item.especialidad }}</td>
            <td *ngIf="item.estado=='FINALIZADO' " class="separador">{{ item.nombreEspecialista }} {{item.apellidoEspecialista }}</td>
            <!-- (click)="mostrarHistoriaClinicaEsp()" -->
            <td *ngIf="item.estado=='FINALIZADO' " class="separador">{{ item.altura }}</td>
            <td *ngIf="item.estado=='FINALIZADO' " class="separador">{{ item.peso }}</td>
            <td *ngIf="item.estado=='FINALIZADO' " class="separador">{{ item.presion }}</td>
            <td *ngIf="item.estado=='FINALIZADO' " class="separador">{{ item.temperatura }}</td>
            <td *ngIf="item.estado=='FINALIZADO' " class="separador">
            {{ item.clave1}} {{ item.valor1}}<br>
            {{ item.clave2}} {{ item.valor2}}<br>
            {{ item.clave3}} {{ item.valor3}}<br>
            </td>
            <!-- <td>{{ item.fechaSolicitada }}</td> -->
            <!--<td>{{ item.especialidad }}</td>-->
            <!-- <td>{{ item.fechaAlta }}</td> -->
            <!-- <div class="scrollbar-especialidades">
            || item.estado=='PENDINTE') && item.canceladoComentario == ''
            -->
            <!-- <td>
            <button class="btn-success" *ngIf="(item.estado !='ACEPTADO' && item.estado !='CANCELADO' && item.estado != 'FINALIZADO')" (click)="aceptarTurno(item)">ACEPTAR</button>
            </td>

            <td>
                <input type="text" class="datos-turno" placeholder="Motivo Cancelado" *ngIf="item.estado=='PENDIENTE'" [(ngModel)]="inputCancelado">
                <button class="btn-danger" *ngIf="item.estado=='PENDIENTE'  " (click)="cancelarTurno(item)">CANCELAR</button>
                <p *ngIf="item.estado == 'CANCELADO' "> {{item.canceladoComentario}}</p>
            </td>

            <td>
                <input type="text" class="datos-turno" placeholder="Reseña del Especialista" *ngIf="item.estado=='ACEPTADO' " [(ngModel)]="inputResena">
                <input type="text" class="datos-turno" placeholder="Diagnostico del Especialista" *ngIf="item.estado=='ACEPTADO' " [(ngModel)]="inputDiagnotico">
                <button class="btn-success"  *ngIf="item.estado=='ACEPTADO' " (click)="finalizadaAtencion(item)">FINALIZAR ATENCIÓN</button>
                <p *ngIf="item.estado=='FINALIZADO' "> {{item.resena}}</p>
                <p *ngIf="item.estado=='FINALIZADO' "> {{item.diagnostico}}</p>
            </td>

            <td>
                <input type="text" class="datos-turno" placeholder="Ingrese Altura" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputAltura">
                <input type="text" class="datos-turno" placeholder="Ingrese Peso" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputPeso">
                <input type="text" class="datos-turno" placeholder="Ingrese Temperatura" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputTemperatura">
                <input type="text" class="datos-turno" placeholder="Ingrese Presión" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputPresion">
                <input type="text" class="datos-turno" placeholder="Ingrese Clave" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputClave1">
                <input type="text" class="datos-turno" placeholder="Ingrese Valor" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputValor1">
                <input type="text" class="datos-turno" placeholder="Ingrese Clave" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputClave2">
                <input type="text" class="datos-turno" placeholder="Ingrese Valor" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputValor2">
                <input type="text" class="datos-turno" placeholder="Ingrese Clave" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputClave3">
                <input type="text" class="datos-turno" placeholder="Ingrese Valor" *ngIf="item.altura=='' && item.estado=='FINALIZADO' " [(ngModel)]="inputValor3">
                <button class="btn-success"  *ngIf="item.altura=='' && item.estado=='FINALIZADO' " (click)="guardarHistoriaClinica(item)">GUARDAR HISTORIA</button>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Altura" *ngIf="item.altura!='' && item.estado=='FINALIZADO' "value={{item.altura}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Peso" *ngIf="item.peso!='' && item.estado=='FINALIZADO'" value={{item.peso}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Temperatura" *ngIf="item.temperatura!='' && item.estado=='FINALIZADO' " value={{item.temperatura}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Presión" *ngIf="item.presion!='' && item.estado=='FINALIZADO'" value={{item.presion}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Clave" *ngIf="item.clave1!='' && item.estado=='FINALIZADO' " value={{item.clave1}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Valor" *ngIf="item.valor1!='' && item.estado=='FINALIZADO' " value={{item.valor1}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Clave" *ngIf="item.clave2!='' && item.estado=='FINALIZADO'" value={{item.clave2}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Valor" *ngIf="item.valor2!='' && item.estado=='FINALIZADO'" value={{item.valor2}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Clave"  *ngIf="item.clave3!=''&& item.estado=='FINALIZADO' " value={{item.clave3}}>
                <input type="text" class="datos-turno" readonly placeholder="Ingrese Valor" *ngIf="item.valor3!='' && item.estado=='FINALIZADO'" value={{item.valor3}}>
            </td> -->
            </tr>
        </tbody>
    </table>
    <!-- <div class="text-center">
    <button class="btn col col-lg-4 btn-success btn-block ml-4" (click)="downloadPDF()">Descargar PDF</button>
    </div> -->
</div>
<!-- <app-historia-clinica-esp *ngIf="verHistoriaClinicaEsp==true" [actualDetalleTurno]="actualTurno"></app-historia-clinica-esp> -->