<app-menu-gral></app-menu-gral>

<div class="conteiner mt-3">
    <div *ngIf='loading' class="d-flex justify-content-center mt-5">
      <app-spinner></app-spinner>
    </div>
    <br>    
    <h3 class="text-center p-3">Lista de Ingresos</h3>

    <div class="box text-center">
      <button  class="btn btn-primary btn-lg float-right" (click)="downloadExcel()">Exportar a Excel</button>
    </div>
    <br><br><br>

    <div *ngIf='!loading' class="container-table table-responsive">
      <table class="table table-striped">
        <thead class="thead-Active">
          <tr class="table-dark">
            <th class="separador1" scope="col">Email</th>            
            <th class="separador1" scope="col">Fecha</th>
            <th class="separador1" scope="col">Hora</th>              
          </tr>
        </thead> 
        <tbody>
          <tr class="table-light" *ngFor="let ingreso of ingresos">
            <td class="separador">{{ ingreso.email }}</td>          
            <td class="separador">{{ ingreso.fecha }}</td>
            <td class="separador">{{ ingreso.hora }}</td>       
          </tr>         
        </tbody>
      </table>
    </div> 
    
    <!--<div *ngIf="!loading">
      <br>
      <app-chart *ngIf="ingresos.length > 0" [chartLabels]="chartLabels" [chartData]="chartData"></app-chart>
    </div>-->

    <div class="box text-center">
      <button routerLink="/bienvenido" (click)="volver()" class="btn btn-primary btn-lg">Volver</button>      
    </div>
</div>