<div class="col" *ngIf='loading'>
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">RESEÑA - Turno {{datoRecibidoTurno}} -  Sr/a {{datoRecibidoPaciente}} -  {{datoRecibidoEspecialidad}}</h4>
        </div>
  
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
            <form class="needs-validation" [formGroup]="registrarForm" (ngSubmit)="registrarCancelar()">
                <div class="row">
                <!--  inputResena -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Reseña </span>
                        <!--<input type="text" class="form-control" formControlName="inputResena" disabled > cambie 2610-->
                        <input type="text" class="form-control" formControlName="inputResena" [disabled]="isDetalleDisabled" >
                    </div>
                    <!-- Fin inputResena-->
                </div>
                <!-- Fin row-->
            </form>
            </ul>

            <div class="text-center">
                <button type="submit" (click)="cerrarResenia()" [disabled]="registrarForm.invalid" class="btn btn-primary btn-lg " >Cerrar</button>
            </div>
        </div>
    
    </div>
</div>   