<div class="conteiner">
    <div *ngIf='loading' class="d-flex justify-content-center mt-5">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf='!loading' class="col-md-12 mb-2">

        <!-- <div class="col-lg-10 offset-lg-3"> -->
            <!-- <div class="card"> -->
                <!-- <div class=" ody"> -->
                    <h2 class="text-center tituloPropio" style="color: rgb(255, 255, 255)"><strong>REGISTRO DE ESPECIALISTA</strong></h2>
                    <form [formGroup]="registrarForm" (ngSubmit)="registrar()">
                    <div class="row formulario">
                        <!--Nombre-->
                        <div class="col-md-6 mb-2">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Nombre">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('nombre')?.hasError('required') && registrarForm.get('nombre')?.touched">
                                El Nombre <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('nombre')?.hasError('minlength') && registrarForm.get('nombre')?.touched">
                                El Nombre como mínimo <strong>debe tener 4 caracteres</strong>
                            </span>
                        </div>
                        <!--Apellido-->
                        <div class="col-md-6 mb-2">
                            <input type="text" formControlName="apellido" class="form-control form-control-lg" placeholder="Apellido">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('apellido')?.hasError('required') && registrarForm.get('apellido')?.touched">
                                El Apellido <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('apellido')?.hasError('minlength') && registrarForm.get('apellido')?.touched">
                                El Apellido como mínimo <strong>debe tener 4 caracteres</strong>
                            </span>
                        </div>
                        <!--Edad-->
                        <div class="col-md-6 mb-2">
                            <input type="number" formControlName="edad" class="form-control form-control-lg" placeholder="Edad">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('edad')?.hasError('required') && registrarForm.get('edad')?.touched">
                                La Edad <strong>es requerida</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('edad')?.hasError('minlength') && registrarForm.get('edad')?.touched">
                                La Edad como mínimo <strong>debe tener 22 años</strong>
                            </span>
                        </div>
                        <!--DNI-->
                        <div class="col-md-6 mb-2">
                            <input type="number" formControlName="dni" class="form-control form-control-lg" placeholder="DNI">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('dni')?.hasError('required') && registrarForm.get('dni')?.touched">
                                El DNI <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('dni')?.hasError('minlength') && registrarForm.get('dni')?.touched">
                                El DNI como mínimo <strong>7 dígitos</strong> máximo <strong>8 dígitos</strong>
                            </span>
                        </div>
                        <!--Especialidad-->
                        <div class="col-md-6 mb-2">
                            <input list="especialidad" formControlName="especialidad" class="form-control form-control-lg" placeholder="Escriba una Especialidad...">
                            <datalist id="especialidad" >
                                <option *ngFor="let item of listEspecialidad" value= {{item.nombre}}>{{item.nombre}}</option>
                            </datalist>

                            <!-- <datalist id="datalistOptions">
                                <option value="Alergia">
                                <option value="Cardiologia">
                            </datalist>-->
                            <!--<select class="form-control" formControlName="tipo" [(ngModel)] = "opcionestipos[3]">
                                <option *ngFor="let tipos of opcionestipos"
                                [value]="tipos" selected>{{tipos}}</option>
                            </select>-->
                            <span class="text-danger"
                                *ngIf="registrarForm.get('especialidad')?.hasError('required') && registrarForm.get('especialidad')?.touched">
                                La Especialidad <strong>es requerida</strong>
                            </span>
                        </div>
                        <!--Otra Especialidad-->
                        <div class="col-md-6 mb-2">
                          <input list="otraEspecialidad" formControlName="otraEspecialidad" class="form-control form-control-lg" placeholder="Escriba una Especialidad...">
                          <datalist id="otraEspecialidad" >
                              <option *ngFor="let item of listEspecialidad" value= {{item.nombre}}>{{item.nombre}}</option>
                          </datalist>
                          <span class="text-danger"
                              *ngIf="registrarForm.get('especialidad')?.hasError('required') && registrarForm.get('especialidad')?.touched">
                              La Especialidad <strong>es requerida</strong>
                          </span> 
                      </div>
                        <!--Usuario/Correo-->
                        <div class="col-md-6 mb-2">
                            <input type="text" formControlName="correo" class="form-control form-control-lg" placeholder="Correo electrónico">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('correo')?.hasError('required') && registrarForm.get('correo')?.touched">
                                El correo electrónico <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('correo')?.hasError('email') && registrarForm.get('correo')?.touched">
                                El correo electrónico <strong>es inválido</strong>
                            </span>
                        </div>
                        <!--Password-->
                        <div class="col-md-6 mb-2">
                            <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Contraseña">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('password')?.hasError('required') && registrarForm.get('password')?.touched">
                                La contraseña <strong>es requerida</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('password')?.hasError('minlength') && registrarForm.get('password')?.touched">
                                La contraseña como mínimo <strong>debe tener 6 caracteres</strong>
                            </span>
                        </div>
                        <!--Repetir/Password-->
                        <div class="col-md-6 mb-2">
                            <input type="password" formControlName="repetirPassword" class="form-control form-control-lg" placeholder="Repetir Contraseña">
                            <span class="text-danger" *ngIf="registrarForm.hasError('notSame')" >
                                Las Contraseñas <strong>son distintas</strong>
                            </span>
                        </div>
                        <!-- Foto - PERFIL -->
                        <div class="col-md-6 input-group mb-3">
                            <span class="input-group-text" >PERFIL</span>
                            <input type="file" (change)="uploadImage($event)" class="form-control form-control-lg" formControlName="fotoPerfil">
                        </div>
                        <!--Captcha Vista
                        <div class="col-md-6 input-group mb-3">
                          <span class="input-group-text" >CAPTCHA</span>
                          <input type="text" id="captchaVista" class="form-control form-control-lg" disabled [value]="captchaGenerado">
                        </div>-->
                        <!--Captcha
                        <div class="col-md-6 mb-2">
                          <input type="text" formControlName="captcha" class="form-control form-control-lg" placeholder="Escribir el Captcha que visualiza">
                          <span class="text-danger"
                          *ngIf="registrarForm.get('captcha')?.hasError('required') && registrarForm.get('captcha')?.touched">
                              El Captcha  <strong>es requerido</strong>
                          </span>

                          <span class="text-danger"
                          *ngIf="registrarForm.get('captcha')?.hasError('isCaptchaWithParam') && registrarForm.get('captcha')?.touched">
                              Los Captchas <strong>deben ser iguales</strong>
                          </span>
                        </div>-->

                        <!-- re captcha agregado 1611-->
                        <!--<div class="form-group">
                            <re-captcha formControlName="captcha" [siteKey]="'6LfwMoEqAAAAAPR_rdapYQyJ7aZV5Ll6Q30DLVJD'" (resolved)="onCaptchaResolved($event)"required></re-captcha>-->
                           <!--<re-captcha formControlName="captcha" [siteKey]="'6LfwMoEqAAAAAPR_rdapYQyJ7aZV5Ll6Q30DLVJD'" (resolved)="onCaptchaResolved($event)"
                              required></re-captcha>-->
                              <!--<re-captcha formControlName="captcha"  (resolved)="onCaptchaResolved($event)" siteKey="6LfwMoEqAAAAAPR_rdapYQyJ7aZV5Ll6Q30DLVJD"></re-captcha>-->       
                              <!--  <span class="text-danger" *ngIf="registrarForm.get('captcha')?.hasError('required') && registrarForm.get('captcha')?.touched">
                                El captcha <strong>es requerido</strong>
                            </span>-->                                                       
                        <!--</div>    -->

                        <!--Captcha-->
                        <div class="col-md-6 mb-2">
                            <div appCaptchamio [question]="'¿Cuánto es 5 + 3?'" [correctAnswer]="'8'" (validation)="onCaptchaValidation($event)" formControlName="captcha">
                            </div>              
                            <span class="text-danger" *ngIf="registrarForm.get('captcha')?.hasError('required') && registrarForm.get('captcha')?.touched">
                              El Captcha <strong>es requerido</strong>
                            </span>         
                            <span class="text-danger" *ngIf="registrarForm.get('captcha')?.hasError('isCaptchaWithParam') && registrarForm.get('captcha')?.touched">
                              Captcha <strong>debe ser igual</strong>
                            </span>                       
                            <p *ngIf="captchaValidated" class="text-success">Captcha validado correctamente 🎉</p>                      
                            <p *ngIf="!captchaValidated && captchaValidated !== null" class="text-danger">Respuesta incorrecta ❌</p>
                        </div> 

                    </div>

                    <button routerLink="/auth/login" class="btn btn-secondary btn-lg">Registrar</button>          
                    <!--<button routerLink="/auth/login" class="btn btn-secondary btn-lg">Volver</button>
                    <button type="submit" [disabled]="registrarForm.invalid" class="btn btn-primary btn-lg float-right">Aceptar</button>-->
                    <button routerLink="/auth/login" (click)="volver()" class="btn btn-secondary btn-lg">Volver</button>
                    </form>
                <!-- </div> -->
           <!--  </div> -->
        <!--</div>-->
    </div>
</div>