.container {
  background-image: url(../../assets/clinica/bienvenida.jpg);    
  background-size: cover;
  /*background-position: center;*/
  background-repeat: no-repeat;
     /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;
    align-items: center;*/
  height: 93vh;
  max-width: 3000px;
}

section {
    background-image: linear-gradient(to left,rgb(168, 200, 230),rgb(116, 214, 231));
    height: 93vh;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: green;   */
}

.pequeño {
    font-size: 12px; /* Tamaño pequeño */
}
.medio {
    font-size: 16px; /* Tamaño medio */
}
.grande {
    font-size: 24px; /* Tamaño grande */
}
.muy-grande {
    font-size: 36px; /* Tamaño muy grande */
}

.texto-arriba {
    margin-top: 130; /* Espacio desde la parte superior */
    font-size: 22px; /* Tamaño del texto */
    text-align: center; /* Centrar el texto */
    
}