<app-menu-inicio></app-menu-inicio>
<section>    
<div class="container">   
    <p class="texto-arriba"><strong>Bienvenido a la Clínica Online, su solución de atención médica en línea. </strong> </p>
    <p class="texto-arriba"><strong>Nuestra clínica se dedica a proporcionar servicios de salud accesibles y de alta calidad.</strong></p>
    <p class="texto-arriba"><strong>La clínica Online es un sistema por el cual los usuarios (Administradores, Especialistas y Pacientes)</strong> </p>
    <p class="texto-arriba"><strong>pueden acceder a sacar turnos, ver sus horarios, visualizar el historial clínico, entre otras opciones.</strong></p> 
    <!-- <div class="jumbotron">
        <app-github  *ngIf="user" [user]="user"></app-github>
    </div>    -->
     <!--<h1>La clínica Online es un sistema por el cual los usuarios (Administradores, Especialistas y Pacientes)
        pueden acceder a sacar turnos, ver sus horarios, visualizar el historial clínico, entre otras opciones.
    </h1>-->   
</div>
</section>