<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)=inicio()>Bienvenido <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " ><b>Perfil:</b> {{ gralPerfil }} - <b>Usuario:</b> {{ email }}</a>
      </li>


      <!-- Usuario/Paciente -->       
      <!--cambie <li class="nav-item dropdown" *ngIf="gralPerfil=='Paciente' ">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Paciente</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li> <a class="dropdown-item" (click)=misTurnos()>Mis Turnos</a></li>
            <li> <a class="dropdown-item" (click)=solicitarTurno()>Solicitar Turno</a></li>
              ESTE NO VA <li> <a class="dropdown-item" (click)=cancelarTurnos()>Cancelar Turnos</a></li> -->
            <!--<li> <a class="dropdown-item" (click)=perfilPaciente()>Mi Perfil</a></li>
        </ul>
      </li>-->

      <!--cambios paciente 02 11 -->
      <li  class="nav-item active" *ngIf="gralPerfil=='Paciente' ">
        <a  class="nav-link button" (click)=misTurnos()>- Mis Turnos - </a>       
      </li>
      <li  class="nav-item active" *ngIf="gralPerfil=='Paciente' ">        
        <a  class=" nav-link button" (click)=solicitarTurno()>Solicitar Turno - </a>       
      </li>
      <li  class="nav-item active" *ngIf="gralPerfil=='Paciente' ">        
        <a class="nav-link button" (click)=perfilPaciente()>Mi Perfil</a>
      </li>

    <!-- Especialista/Médico --> 
      <!--<li class="nav-item dropdown" *ngIf="gralPerfil=='Especialista' ">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Especialista</a>

        <ul class="dropdown-menu" aria-labelledby="dropdown01">-->
            <!-- <li> <a class="dropdown-item" (click)=misTurnoEspecialista()>Mis Turnos</a></li>-->
            <!-- NO VA <li> <a class="dropdown-item" (click)=solicitarTurnoEspecialista()>Solicitar Turno</a></li> -->
            <!-- NO VA<li> <a class="dropdown-item" (click)=finalizarTurnoEspecialista()>Finalizar Turno</a></li> -->
            <!-- NO VA<li> <a class="dropdown-item" (click)=crearTurnoEspecialista()>Crear Turnos</a></li> -->
            <!-- NO VA<li> <a class="dropdown-item" (click)=resEspecialista()>Reseña</a></li> -->
            <!-- NO VA<li> <a class="dropdown-item" (click)=misPacientes()>Mis Pacientes</a></li> -->
            <!--<li> <a class="dropdown-item" (click)=perfilEspecialista()>Mi Perfil</a></li>
            <li> <a class="dropdown-item" (click)=misPacientes()>Pacientes</a></li>
        </ul>
      </li>-->

      <!--cambios especialista 02 11 -->
      <li  class="nav-item active" *ngIf="gralPerfil=='Especialista' ">
        <a  class="nav-link button" (click)=misTurnoEspecialista()>- Mis Turnos -</a>       
      </li>
      <li  class="nav-item active" *ngIf="gralPerfil=='Especialista' ">        
        <a  class=" nav-link button" (click)=misPacientes()>Pacientes -</a>       
      </li>
      <li  class="nav-item active" *ngIf="gralPerfil=='Especialista' ">        
        <a class="nav-link button" (click)=perfilEspecialista()>Mi Perfil</a>
      </li>    

      <!--ADMINISTRADOR -->
      <li  class="nav-item active" *ngIf="gralPerfil=='Administrador' ">
        <a  class="nav-link button" (click)=turnosclinica()>- Turnos -</a>     
      </li>
      <li  class="nav-item active" *ngIf="gralPerfil=='Administrador' ">        
        <a  class=" nav-link button" onclick="this.blur();" (click)="solicitarTurnoAdmin()">Solicitar Turno -</a>       
      </li>
      <li  class="nav-item active" *ngIf="gralPerfil=='Administrador' ">        
        <a class="nav-link button" (click)=Perfil()>Mi Perfil -</a>
      </li>      
      <li class="nav-item active dropdown-submenu" *ngIf="gralPerfil=='Administrador' ">
        <a class="nav-link button" data-toggle="dropdown">Usuarios</a>
        <ul class="dropdown-menu">
          <li> <a class="dropdown-item button" (click)=habilitarInhabilitar()>Habilitar/Inhabilitar Especialista</a></li>
          <li> <a class="dropdown-item button" (click)=usuarioAdmin()>Datos de los Usuarios</a></li>
          <li> <a class="dropdown-item button" (click)=genUsuarioAdmin()>Generar usuario</a></li>
          <!-- <li> <a class="dropdown-item" >Historia Clinica</a></li> -->
        </ul>
      </li>
      <li class="nav-item active dropdown-submenu" *ngIf="gralPerfil=='Administrador' ">
        <a class="nav-link button" data-toggle="dropdown">- Informes</a>
        <ul class="dropdown-menu button">
          <li> <a class="dropdown-item button" (click)=ingresos()>Log de Ingresos</a></li>
          <li> <a class="dropdown-item button" (click)=turnosespecialidad()>Cantidad Turnos por Especialidad</a></li>          
          <li> <a class="dropdown-item button" (click)=turnosdia()>Cantidad Turnos por Día</a></li>
          <li> <a class="dropdown-item button" (click)=turnospendientes()>Cantidad Turnos Solicitados</a></li>
          <li> <a class="dropdown-item button" (click)=turnosfinalizados()>Cantidad Turnos Finalizados</a></li>          
        </ul>
      </li>    
      <li class="nav-item active">
            <a class="nav-link button" (click)=desloguearse()> - Desloguearse</a>
      </li>
    </ul>
  </div>
</nav>
