<app-menu-gral></app-menu-gral>
<div class="conteiner mt-3">
    <div *ngIf='loading' class="d-flex justify-content-center mt-5">
      <app-spinner></app-spinner>
    </div>
    <br>

    <h3 class="text-center p-3">Especialista - Mis Pacientes Atendidos</h3>

    <div>
      <img [src]="'../../../'+this.fotoPerfilUnoPaciente" alt="{{ this.nombreEspecialista +' ' + this.apellidoEspecialista }}" />
                 {{ this.nombreEspecialista +' ' + this.apellidoEspecialista }}
    </div>
    <!--<h3 class="text-center p-3">Especialista - Historia Clínica</h3>-->
    <div *ngIf='!loading' class="container-table table-responsive">
      <!-- <table class="table table-bordered table-striped mx-auto"> -->
      <table class="table table-striped">
        <thead class="thead-Active">
          <tr class="table-dark">
            <th scope="col" class="separador1">Foto</th>
            <th scope="col" class="separador1">SELECCIONE  SU  ACCIÓN</th>
            <!-- <th scope="col">Nombre</th>
            <th scope="col">Apellido</th> -->
            <!-- <th scope="col">Edad</th>
            <th scope="col">Altura</th>
            <th scope="col">Peso</th>
            <th scope="col">Temperatura</th>
            <th scope="col">Presión</th>
            <th scope="col">Datos</th>-->
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" *ngFor="let item of listaUsuarioPaciente">
            <td class="separador">
               <!-- <img [src]="'../../../'+item.fotoPerfilUno" alt="Especialista {{ item.nombre +' ' + item.apellido }}" />
               {{ item.nombre +' ' + item.apellido }}-->

               <img [src]="'../../../'+item.fotoPerfilUnoPaciente" alt="Especialista {{ item.nombrePaciente +' ' + item.apellidoPaciente
              }}" />
               {{ item.nombrePaciente +' ' + item.apellidoPaciente }}
            </td>
            <td class="separador">
              <button class="btn-success" *ngIf="item.resena!='' " (click)="verHC(item)">HISTORIA CLINICA DEL TURNO</button>
              <button class="btn-success" *ngIf="item.resena!='' " (click)="verResena(item)">VER RESEÑA</button>
            </td>
           <!--  <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td> -->
            <!-- <td>{{ item.edad }}</td>
            <td>{{ item.altura }}</td>
            <td>{{ item.peso }}</td>
            <td>{{ item.temperatura }}</td>
            <td>{{ item.presion }}</td>-->
            <!-- <div class="scrollbar-especialidades">
              <td>
                <table class="table table-bordered table-striped mb-0">
                  <tbody>
                    <tr
                      class="table-light"
                      *ngFor="let especialidad of item.especialidades"
                    >
                      <td scope="col">{{ especialidad.descripcion }}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </div> -->
            <!-- <td>
              <p class="btn-success" *ngIf="!item.valor1==''" >{{ item.clave1 }} : {{ item.valor1 }}</p>
              <p class="btn-success" *ngIf="!item.valor2==''" >{{ item.clave2 }} : {{ item.valor2 }}</p>
              <p class="btn-success" *ngIf="!item.valor3==''" >{{ item.clave3 }} : {{ item.valor3 }}</p>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="text-center">
      <button routerLink="/bienvenido" class="btn btn-secondary btn-lg">Volver</button>
      <button class="btn btn-secondary btn-lg" (click)="exportexcel()">Descargar EXCEL - Pacientes</button>
    </div> -->
    <div class="box text-center">
      <button routerLink="/bienvenido" (click)="volver()" class="btn btn-primary btn-lg">Volver</button>
      <!-- <button  class="btn btn-primary btn-lg float-right" (click)="exportexcel()">Descargar EXCEL - Pacientes</button> -->
      <!-- <button type="button" (click)=automaticoLogin() class="btn btn-primary btn-lg float-right">Login (in)</button> -->
    </div>
</div>
<app-detalle-turno-esp *ngIf="activarHC"  [actualDetalleTurno]="actualTurno"></app-detalle-turno-esp>
<app-detalle-resena-esp *ngIf="activarVerResena"  [actualDetalleTurno]="actualTurno"></app-detalle-resena-esp>