<app-menu-gral></app-menu-gral>
<!-- <div class="conteiner"> -->
  <div class="p-4 p-md-5 mb-4 rounded" id="contenedor-absoluto">
    <div class="row" id="main-row" hidden>

      <!--Solicitar turno-->
      <div class="col-md-6" id="col1">
        <h1 class="display-4 fst-italic" id="titulo-principal">Solicitar turno</h1>
        <div class="col-md-25" id="listado-turnos">
          <div class="col p-4 d-flex flex-column position-static">
            
            <input class="datos-turno" readonly placeholder="Su usuario" [(ngModel)]="usuarioPacienteMailIngresado">
            <input class="datos-turno" readonly placeholder="Elija especialidad" [(ngModel)]="especialidadIngresada">
            <input class="datos-turno" readonly placeholder="Elija especialista" [(ngModel)]="especialistaIngresado">
            <input class="datos-turno" readonly placeholder="Elija fecha" [(ngModel)]="fechaIngresada">

            <ul id="opciones-turnos" hidden>
              <li *ngFor="let turno of arrayTurnos; index as i" class="item-turno" id="btn-solicitar-turno" (click)="turnoClickeado(turno)">{{arrayTurnos[i]}}</li>
            </ul>

            <button id="btn-solicitar-turno-final" (click)="solicitarTurno()">Tomar turno</button>

          </div>
        </div>
      </div>

      <!-- ELIJA ESPECIALIDAD NEW--> 
         <div class="col-md-3" id="col2">
          <h1 class="display-4 fst-italic" id="titulo-principal2">Elija especialidad</h1>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <!-- Botones para elegir especialidad -->
              <div id="opciones-especialidades">
                <button *ngFor="let especialidad of arrayEspecialidades" class="btn-especialidad-rectangular" (click)="especialidadElegida(especialidad)">
                  <!-- Imágenes según la especialidad -->
                  <img *ngIf="especialidad == 'Anestesiología'" class="foto-especialidad" src="../../../../../assets/especialidades/anestesiologia.jpg" alt="Anestesiología">
                  <img *ngIf="especialidad == 'Ginecologia'" class="foto-especialidad" src="../../../../../assets/especialidades/ginecologia.jpg" alt="Ginecología">
                  <img *ngIf="especialidad == 'Obstetricia'" class="foto-especialidad" src="../../../../../assets/especialidades/obstetricia.jpg" alt="Obstetricia">
                  <img *ngIf="especialidad != 'Anestesiología' && especialidad != 'Ginecologia' && especialidad != 'Obstetricia'" class="foto-especialidad-3" src="../../../../../assets/especialidades/especialidades.png" alt="Especialidad">
                  <br>
                  {{especialidad}}
                </button>
              </div>
            </div>
          </div>
      </div>  
  

      <!-- ELIJA ESPECIALISTA NEW -->
       <div class="col-md-3" id="col3">
        <h1 class="display-4 fst-italic" id="titulo-principal3">Elija especialista</h1>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <!-- Botón cuadrado para elegir especialista -->
            <div id="opciones-especialistas">
              <button *ngFor="let especialista of arrayEspecialistasFiltrado" class="btn-solicitar-turno-final-2" (click)="especialistaElegido(especialista)">
                <img class="foto-especialista-2" src="{{especialista.fotoPerfilUno}}" alt="Foto de {{especialista.nombre}}">
                <br>
                Dr/Dra. {{especialista.nombre + " " + especialista.apellido}}
              </button>
            </div>
          </div>
        </div>
      </div>       
    </div>

    <div>
      <img [src]="'../../../'+fotoPerfilUnoPaciente" width="80px" height="80px" alt=" '{{ nombrePaciente }}' + ' ' + '{{ apellidoPaciente }}'" />
      {{ nombrePaciente  + ' ' +  apellidoPaciente }}
    </div>

  </div> 

<!-- </div> -->