#contenedor-absoluto{
    margin-top: 2rem;
    height: 60rem;
    background-color: #08456b;
    color: white;   
}

#col1{
    text-align: center;
    width: 40%;
    color: white;
}

#listado-turnos{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
}

#titulo-principal, #titulo-principal2, #titulo-principal3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

#opciones-turnos, #opciones-especialistas, #opciones-pacientes, #opciones-especialidades{
    text-align: center;
    height: 13.5rem;
    overflow: auto;
}

#centrar{
    display: flex;              /* Habilita flexbox */
    justify-content: center;    /* Centra el contenido horizontalmente */
    align-items: center;        /* Centra el contenido verticalmente */
    height: 100vh;              /* O cualquier altura que desees, puede ser 100% o un valor fijo */
}

.datos-turno{
    margin-bottom: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

#col4{
  margin-top: 1rem;
  text-align: center;
  color: white;
  width: 100%;
}

#col2, #col3{
  text-align: center;
  width: 30%;
  color: white;
}

.item-especialista, .item-turno, .item-paciente{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    font-size: 19px;
}

.item-turno{
    text-align: center;
}

.item-especialista{
    height: 3rem;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.foto-paciente{
  width: 40px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid white;
  margin-right: 0.5rem;

}

/*habia dos
.foto-especialista{
    width: 40px;
    height: 100%;
    border-radius: 50px;
    border: 1px solid white;
    margin-right: 0.5rem;
}*/

/*.foto-especialista{
        margin-left: 3.5rem;
        width: 55px;
        height: 100%;
}*/

/*cambie el tamaño del cuadrado*/
.foto-especialista {
        margin-left: 3.5rem;
        width: 100px;
        height: 100px; /* Mismo valor que el ancho */
        object-fit: cover; /* Asegura que la imagen se recorte y llene el cuadrado */
        border-radius: 5px; /* Opción para bordes ligeramente redondeados, puedes ajustar o eliminar */
}

.item-especialista:hover, .item-turno:hover{
    background-color: #556e78;
}

#btn-solicitar-turno-final{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  margin-top: 1rem;
  width: 60%;
  height: 2.5rem;
  margin-left: 20%;
  color:  white;
  background-color: #425b65;
  border: 1px solid white;
}

#btn-solicitar-turno-final:hover{
    background-color: #556e78;
}

li{
    list-style: none;
}

@media (max-width: 1100px){
    #col1   {
        width: 100%;
    }
    #col2    {
        margin-top: 1.5rem;
        width: 100%;
    }
    #col3    {
        margin-top: 1.5rem;
        width: 100%;
    }
    #contenedor-absoluto    {
        height: 120rem;       
    }
}

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

/**
 * ----------------------------------------
 * animation slide-in-elliptic-left-bck
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-left-bck {
    0% {
      -webkit-transform: translateX(-800px) rotateY(-30deg) scale(6.5);
              transform: translateX(-800px) rotateY(-30deg) scale(6.5);
      -webkit-transform-origin: 200% 50%;
              transform-origin: 200% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: -600px 50%;
              transform-origin: -600px 50%;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-left-bck {
    0% {
      -webkit-transform: translateX(-800px) rotateY(-30deg) scale(6.5);
              transform: translateX(-800px) rotateY(-30deg) scale(6.5);
      -webkit-transform-origin: 200% 50%;
              transform-origin: 200% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: -600px 50%;
              transform-origin: -600px 50%;
      opacity: 1;
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2022-11-3 2:25:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-elliptic-left-bck
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-elliptic-left-bck {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 2000px 50%;
            transform-origin: 2000px 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
            transform: translateX(-1000px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-left-bck {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 2000px 50%;
            transform-origin: 2000px 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
            transform: translateX(-1000px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-3 2:31:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation slide-in-elliptic-left-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}

.item-especialidad{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.5rem;
    height: 3rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    font-size: 19px;
}

/*
.foto-especialidad{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-right: 0.6rem;
}*/

.foto-especialidad {
        border-radius: 5px; /* Reduce el radio para bordes ligeramente redondeados o pon 0 para bordes rectos */
        width: 100px; /* Ancho mayor que el alto para un botón rectangular */
        height: 40px; /* Ajusta la altura para darle forma de botón */
        margin-right: 0.6rem;
        display: inline-block; /* Asegura que se comporte como un botón */
        text-align: center; /* Centra el texto dentro del botón */
        line-height: 40px; /* Igual que la altura para alinear verticalmente el texto */
        cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
        background-color: #007bff; /* Color de fondo del botón, ajusta según prefieras */
        color: white; /* Color del texto */
        border: none; /* Quita el borde predeterminado */
}

.item-especialidad:hover{
    background-color: #556e78;
}

#opciones-especialidades{
    height: 13.5rem;
    overflow: auto;
}

li{
    list-style: none;
}

/* Estilo para el botón cuadrado */
#btn-solicitar-turno {
        width: 120px;           /* Define un ancho fijo */
        height: 120px;          /* Define una altura fija, igual a la del ancho */
        padding: 0;             /* Elimina el padding interno */
        border: 2px solid #007bff; /* Borde de color azul */
        background-color: #007bff; /* Color de fondo azul */
        color: white;           /* Color de texto blanco */
        text-align: center;     /* Centra el texto */
        font-size: 16px;        /* Tamaño de la fuente */
        border-radius: 0;       /* Sin bordes redondeados */
        cursor: pointer;       /* Muestra el cursor como puntero */
        display: flex;          /* Flexbox para centrar el texto */
        align-items: center;    /* Centrado vertical */
        justify-content: center;/* Centrado horizontal */    
        margin: 10px auto;
}
      
#btn-solicitar-turno:hover {
      background-color: #0056b3; /* Cambia el color al pasar el ratón */
}